@media (max-width: 900px) {

    #secondary {
    overflow-x: auto;
    align-items: baseline;
    grid-template-columns: repeat(5, 1fr);
  

}

.card {
    & img {
        width: 100%;
    }
}
     
       
    





#featured {
  grid-auto-flow: row;

 
}

.grid-col-02 {
    display: block;

}




#weekly .grid {


  & img {
    width: 100%;
    height: 100%;
    
  }
}

#weekly .grid {
   overflow-x: auto;
}




article {
   display: flex;
   flex-direction: row-reverse;

   & div {
    width: 100%;
   }
  
}


main {
    display: block;
}

#ai div article {
    display: flex;
    gap: 1rem;

   
}

#ai div article div:nth-child(1) {
    width: auto;
}

#ai div article div:nth-child(2) {
    width: auto;

    & img {
        width: 100%;
    }
}

.container {
   
    padding-inline: 1rem;
   
}

.ads {
    padding-block: 1.4rem;
}



}


@media (max-width: 1024px) {
#weekly {
    &>div {
        grid-template-columns: repeat(4, 292px);
        overflow-x: auto;
    }
}

}

